* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --medium-turquoise: #4ecdc4ff;
  --mint-cream: #f7fff7ff;
  --skobeloff: #00635dff;
  --slate-blue: #744fc6ff;
  --bittersweet: #ff6b6bff;
  --orange-yellow-crayola: #fed766ff;
  --fire-opal: #e86252ff;
  --russian-green: #659157ff;
  --wild-blue-yonder: #a3a5c3ff;
  --wild-blue-yonder50: rgba(163, 165, 195, 0.507);
  --prussian-blue: #1c3144ff;
  --maximum-green-yellow: #ddf45bff;
  --midnight-green-eagle-green: #114b5fff;
  --desert-sand: #e6beaeff;
  --turquoise-green: #aad2baff;
  --light-cyan: #d9fff5ff;
  --magic-mint: #b9f5d8ff;
  --middle-red: #d7816aff;
  --middle-red-73: rgba(215, 130, 106, 0.733);
  --medium-purple: #9381ffff;
  --maximum-blue-purple: #b8b8ffff;
  --ghost-white: #f8f7ffff;
  --antique-white: #ffeeddff;
  --unbleached-silk: #ffd8beff;
  --manatee: #a1a6b4ff;
  --black: #000100ff;
  --dark-sky-blue: #94c5ccff;
  --beau-blue: #b4d2e7ff;
  --cultured: #f8f8f8ff;
  --bone: #d4cbb3ff;
  --dim-gray: #6b6d76ff;
  --tea-green: #d2e0bfff;
  --smoky-black: #131112ff;
  --rich-black-fogra-39: #080705ff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  display: grid;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColum {
  display: flex;
  flex-direction: column;
}

/* Variables */
.pie {
  width: 80vw;
  height: 30vh;
  grid-area: pie;
  margin: 50px auto;
  text-decoration: none;
  display: inline-block;
  display: grid;
  grid-template-areas: "pie__pDeFooter pie__pDeFooter " "pie__datos pie__derechos" "pie__redes  pie__redes ";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: stretch;
  justify-content: stretch;
  column-gap: 10px;
  row-gap: 10px;
  padding: 5px 10px;
  color: black;
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
}
.pie .pie__pDeFooter {
  grid-area: pie__pDeFooter;
  text-align: center;
  align-items: stretch;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.pie .pie__datos {
  grid-area: pie__datos;
  text-align: start;
}
.pie .pie__derechos {
  grid-area: pie__derechos;
  text-align: end;
}
.pie .pie__redes {
  grid-area: pie__redes;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vh;
  transition: 1s;
}
.pie .pie__redes .pie__redes__item__link--face {
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
.pie .pie__redes .pie__redes__item__link--face .pie__redes__item__link--face :hover {
  background-color: rgba(50, 50, 230, 0.904);
  color: white;
}
.pie .pie__redes .pie__redes__item__link--tw {
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
.pie .pie__redes .pie__redes__item__link--tw .pie__redes__item__link--tw:hover {
  background-color: rgba(98, 198, 216, 0.925);
  color: white;
}
.pie .pie__redes .pie__redes__item__link--inst {
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
.pie .pie__redes .pie__redes__item__link--inst .pie__redes__item__link--inst:hover {
  background: linear-gradient(45deg, #ed601e 6%, #f71348 31%, #e50d8b 52%, #f202d2 67%, #cd02e0 84%, #dd09f4 100%);
  color: white;
}

/*------------------------------------------medias---------------------------*/
@media (max-width: 600px) {
  .pie {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    align-self: center;
    width: 100vw;
    height: 115vh;
    grid-area: pie;
    margin: 50px auto;
    text-decoration: none;
    display: inline-block;
    color: var(--maximum-blue-purple);
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
    color: black;
  }
  .pie .pie__pDeFooter {
    grid-area: pie__pDeFooter;
    text-align: center;
    align-items: stretch;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .pie .pie__datos {
    grid-area: pie__datos;
    text-align: start;
  }
  .pie .pie__derechos {
    grid-area: pie__derechos;
    text-align: end;
  }
  .pie .pie__redes {
    grid-area: pie__redes;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    transition: 1s;
  }
  .pie .pie__redes .pie__redes__item__link--face {
    display: none;
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
  .pie .pie__redes .pie__redes__item__link--face .pie__redes__item__link--face :hover {
    background-color: rgba(50, 50, 230, 0.904);
    color: white;
  }
  .pie .pie__redes .pie__redes__item__link--tw {
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
  .pie .pie__redes .pie__redes__item__link--tw .pie__redes__item__link--tw:hover {
    background-color: rgba(98, 198, 216, 0.925);
    color: white;
  }
  .pie .pie__redes .pie__redes__item__link--inst {
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
  .pie .pie__redes .pie__redes__item__link--inst .pie__redes__item__link--inst:hover {
    background: linear-gradient(45deg, #ed601e 6%, #f71348 31%, #e50d8b 52%, #f202d2 67%, #cd02e0 84%, #dd09f4 100%);
    color: white;
  }
}
@media only screen and (max-width: 600px) {
  .bodyIndex {
    height: 550vh;
  }
  .bodyIndex #bodyIndex__mainIndex {
    height: 550vh;
  }

  .mainIndexUno {
    width: 85vw;
    height: 280vh;
    gap: 0.2rem;
  }
  .mainIndexUno .mainIndexUno__seccionUno {
    height: 80vh;
  }
  .mainIndexUno .mainIndexUno__seccionUno .mainIndexUno__seccionUno__divSeccionUno {
    height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .mainIndexUno .mainIndexUno__seccionUno .mainIndexUno__seccionUno__divSeccionUno .mainIndexUno__seccionUno__divSeccionUno__titulo {
    font-size: 1.5rem;
  }
  .mainIndexUno .mainIndexUno__seccionUno .mainIndexUno__seccionUno__divSeccionUno .mainIndexUno__seccionUno__divSeccionUno__textoPrimero {
    height: 80vh;
    font-size: 1.2rem;
    justify-content: flex-start;
    padding: 0 25px;
  }
  .mainIndexUno .mainIndexUno__seccionDos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 120vh;
  }
  .mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__tituloGaleria .mainIndexUno__seccionDos__tituloGaleria__titulo {
    font-size: 1.6rem;
  }
  .mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    width: 100vw;
    height: 150 vh;
  }
  .mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos .img-nariz {
    background-image: url(../img/nariz.jpg);
    text-align: center;
  }
  .mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos .img-supe {
    background-image: url(../img/supe.jpg);
    text-align: center;
  }
  .mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos .img-nena {
    background-image: url(../img/nena.jpg);
    text-align: center;
  }

  .mainIndexDos {
    width: 85vw;
    margin: 25px auto;
    height: 240vh;
    justify-content: flex-end;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 240vh;
    align-items: center;
    align-self: center;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__tituloPorfolio {
    margin-top: 15px;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__tituloPorfolio .mainIndexDos__imagenesPorfolio__tituloPorfolio--titulo {
    color: black;
    text-align: center;
    font-size: 3rem;
    font-family: "Indie Flower", cursive;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img {
    width: 200px;
    height: 200px;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--4 {
    background-image: url(../img/porf4.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--5 {
    background-image: url(../img/porf5.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--6 {
    background-image: url(../img/porf6.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--7 {
    background-image: url(../img/porf7.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--8 {
    background-image: url(../img/porf8.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--9 {
    background-image: url(../img/porf9.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--10 {
    background-image: url(../img/porf10.jpg);
    background-size: cover;
  }

  .card-group {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    gap: 0.5rem;
  }

  .bodyAbout__main {
    align-content: flex-start;
    align-items: flex-start;
    align-self: center;
    width: 100vw;
  }
  .bodyAbout__main .bodyAbout__main__articleUno .bodyAbout__main__articleUno__titulo {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    border: none;
    font-family: "Indie Flower", cursive;
  }
  .bodyAbout__main .bodyAbout__main__articleUno .bodyAbout__main__articleUno__texto {
    font-size: 1.2rem;
    padding: 10px 15px;
    color: black;
    font-family: "Indie Flower", cursive;
    padding: 0 25px;
  }
  .bodyAbout__main .bodyAbout__main__articleDos {
    gap: 0.5rem;
    margin: 10px auto;
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__titulo {
    border: none;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-family: "Indie Flower", cursive;
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__texto {
    padding: 10px 15px;
    font-size: 1.2rem;
    font-family: "Indie Flower", cursive;
    color: black;
    padding: 0 25px;
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen1 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen2 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen3 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen4 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen5 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen6 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen7 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen8 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }

  .cajaAmigurumi__main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 270vh;
    margin: 25px auto;
    align-items: center;
    justify-content: space-around;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__tituloMain {
    color: var(--slate-blue);
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__tituloMain h2 {
    font-size: 1.2rem;
    color: var(--manatee);
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales1 {
    width: 300px;
    height: 300px;
    background-image: url(../img/amigurumi1.jpg);
    background-size: cover;
    background-position: center;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales2 {
    font-size: 1.2rem;
    font-family: "Indie Flower", cursive;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales3 {
    font-size: 1.2rem;
    font-family: "Indie Flower", cursive;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales4 {
    width: 300px;
    height: 300px;
    background-image: url(../img/amigurumi2.jpg);
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales5 {
    width: 300px;
    height: 300px;
    background-image: url(../img/amigurumi3.jpg);
    background-size: cover;
    background-position: bottom;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales6 {
    font-size: 1.2rem;
    font-family: "Indie Flower", cursive;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales7 {
    font-size: 1.2rem;
    font-family: "Indie Flower", cursive;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales8 {
    width: 300px;
    height: 300px;
    background-image: url(../img/amigurumi5.jpg);
    background-size: cover;
    background-position: center;
  }

  #bodyContacto {
    height: 220vh;
  }

  .mainContacto {
    display: flex;
    flex-direction: column;
    font-family: "Indie Flower", cursive;
    height: 185vh;
    justify-content: flex-start;
  }
  .mainContacto .mainContacto__cajaMainContacto {
    text-align: center;
    justify-content: flex-start;
    align-self: flex-start;
    margin-top: 50px;
    height: 110vh;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__tituloContacto {
    font-size: 1.5rem;
    color: var(--slate-blue);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__tituloDatosPersonales {
    color: var(--manatee);
    font-size: 1rem;
    text-align: center;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 250vh;
    gap: 1rem;
    margin: 0 auto;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #inpNombre {
    background-color: #cbf578;
    height: 35px;
    width: 80vw;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #inpApellido {
    background-color: #cbf578;
    height: 35px;
    width: 80vw;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #inpCorreo {
    background-color: #cbf578;
    height: 35px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 80vw;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #recibir {
    background-color: #cbf578;
    font-size: 1rem;
    border: none;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #meInteresa {
    background-color: #cbf578;
    font-size: 1rem;
    border: none;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #clickSi {
    background-color: #cbf578;
    width: 25px;
    height: 25px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #noInteresa {
    font-size: 1rem;
    border: none;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #clickNo {
    width: 25px;
    height: 25px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #ciudad {
    background-color: #cbf578;
    font-size: 1rem;
    border: none;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #ciudadesList {
    background-color: #cbf578;
    height: 35px;
    width: 80vw;
    border: none;
    font-size: 1rem;
    color: var(--manatee);
    border: none;
    border-radius: 5px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #comentario {
    background-color: #cbf578;
    font-size: 1rem;
    border: none;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #cajaComentario {
    background-color: #cbf578;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #limpia {
    background-color: #cbf578;
    height: 35px;
    width: 120px;
    font-size: 1rem;
    color: var(--manatee);
    border: none;
    border-radius: 5px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #envia {
    background-color: #cbf578;
    height: 35px;
    width: 120px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: var(--manatee);
  }

  .pie {
    width: 80vw;
    height: 30vh;
    grid-area: pie;
    margin: 50px auto;
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    color: black;
    font-family: "Indie Flower", cursive;
    font-size: 1rem;
  }
  .pie .pie__pDeFooter {
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .pie .pie__datos {
    text-align: center;
  }
  .pie .pie__derechos {
    text-align: center;
  }
  .pie .pie__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    transition: 1s;
  }
  .pie .pie__redes .pie__redes__item__link--face {
    font-size: 1.1rem;
    list-style: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
  .pie .pie__redes .pie__redes__item__link--tw {
    font-size: 1.1rem;
    list-style: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
  .pie .pie__redes .pie__redes__item__link--inst {
    font-size: 1.2rem;
    list-style: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1065px) {
  .bodyIndex {
    height: 400vh;
  }
  .bodyIndex #bodyIndex__mainIndex {
    height: 400vh;
  }

  #mainIndex {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 360vh;
  }

  .mainIndexUno {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 190vh;
    gap: 0.2rem;
  }
  .mainIndexUno .mainIndexUno__seccionUno {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 120vh;
  }
  .mainIndexUno .mainIndexUno__seccionUno .mainIndexUno__seccionUno__divSeccionUno {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 150vh;
    display: flex;
  }
  .mainIndexUno .mainIndexUno__seccionUno .mainIndexUno__seccionUno__divSeccionUno .mainIndexUno__seccionUno__divSeccionUno__titulo {
    font-size: 2.5rem;
  }
  .mainIndexUno .mainIndexUno__seccionUno .mainIndexUno__seccionUno__divSeccionUno .mainIndexUno__seccionUno__divSeccionUno__textoPrimero {
    font-size: 1.5rem;
    justify-content: flex-start;
    padding: 0 25px;
    height: 150vh;
  }
  .mainIndexUno .mainIndexUno__seccionDos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80vw;
    height: 60vh;
  }
  .mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__tituloGaleria .mainIndexUno__seccionDos__tituloGaleria__titulo {
    font-size: 1.6rem;
  }
  .mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 100vw;
  }
  .mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos .img-nariz {
    background-image: url(../img/nariz.jpg);
    text-align: center;
  }
  .mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos .img-supe {
    background-image: url(../img/supe.jpg);
    text-align: center;
  }
  .mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos .img-nena {
    background-image: url(../img/nena.jpg);
    text-align: center;
  }

  .mainIndexDos {
    width: 80vw;
    margin: 25px auto;
    height: 150vh;
    justify-content: flex-start;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 210vh;
    flex-wrap: wrap;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__tituloPorfolio {
    margin-top: 15px;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__tituloPorfolio .mainIndexDos__imagenesPorfolio__tituloPorfolio--titulo {
    color: black;
    text-align: center;
    font-size: 3rem;
    font-family: "Indie Flower", cursive;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img {
    width: 250px;
    height: 250px;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--4 {
    background-image: url(../img/porf4.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--5 {
    background-image: url(../img/porf5.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--6 {
    background-image: url(../img/porf6.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--7 {
    background-image: url(../img/porf7.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--8 {
    background-image: url(../img/porf8.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--9 {
    background-image: url(../img/porf9.jpg);
    background-size: cover;
  }
  .mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--10 {
    background-image: url(../img/porf10.jpg);
    background-size: cover;
  }

  .card-group {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    gap: 0.5rem;
  }

  .bodyAbout__main {
    align-content: flex-start;
    align-items: flex-start;
    align-self: center;
    width: 100vw;
  }
  .bodyAbout__main .bodyAbout__main__articleUno .bodyAbout__main__articleUno__titulo {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    border: none;
    font-family: "Indie Flower", cursive;
  }
  .bodyAbout__main .bodyAbout__main__articleUno .bodyAbout__main__articleUno__texto {
    font-size: 1.2rem;
    padding: 10px 15px;
    color: black;
    font-family: "Indie Flower", cursive;
    padding: 0 25px;
  }
  .bodyAbout__main .bodyAbout__main__articleDos {
    gap: 0.5rem;
    margin: 10px auto;
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__titulo {
    border: none;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-family: "Indie Flower", cursive;
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__texto {
    padding: 10px 15px;
    font-size: 1.2rem;
    font-family: "Indie Flower", cursive;
    color: black;
    padding: 0 25px;
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-self: stretch;
    flex-wrap: wrap;
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen1 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen2 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen3 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen4 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen5 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen6 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen7 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }
  .bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen8 {
    width: 200px;
    height: 200px;
    background-image: url(../img/bandidos1.jpg);
  }

  .cajaAmigurumi__main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 270vh;
    margin: 25px auto;
    align-items: center;
    justify-content: space-around;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__tituloMain {
    color: var(--slate-blue);
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__tituloMain h2 {
    font-size: 1.2rem;
    color: var(--manatee);
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales1 {
    width: 300px;
    height: 300px;
    background-image: url(../img/amigurumi1.jpg);
    background-size: cover;
    background-position: center;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales2 {
    font-size: 1.2rem;
    font-family: "Indie Flower", cursive;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales3 {
    font-size: 1.2rem;
    font-family: "Indie Flower", cursive;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales4 {
    width: 300px;
    height: 300px;
    background-image: url(../img/amigurumi2.jpg);
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales5 {
    width: 300px;
    height: 300px;
    background-image: url(../img/amigurumi3.jpg);
    background-size: cover;
    background-position: bottom;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales6 {
    font-size: 1.2rem;
    font-family: "Indie Flower", cursive;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales7 {
    font-size: 1.2rem;
    font-family: "Indie Flower", cursive;
  }
  .cajaAmigurumi__main .cajaAmigurumi__main__materiales8 {
    width: 300px;
    height: 300px;
    background-image: url(../img/amigurumi5.jpg);
    background-size: cover;
    background-position: center;
  }

  .mainContacto {
    display: flex;
    flex-direction: column;
    font-family: "Indie Flower", cursive;
    height: 180vh;
    justify-content: flex-start;
  }
  .mainContacto .mainContacto__cajaMainContacto {
    text-align: center;
    justify-content: flex-start;
    align-self: flex-start;
    margin-top: 50px;
    height: 110vh;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__tituloContacto {
    font-size: 1.5rem;
    color: var(--slate-blue);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__tituloDatosPersonales {
    color: var(--manatee);
    font-size: 1rem;
    text-align: center;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 150vh;
    gap: 1rem;
    margin: 0 auto;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #inpNombre {
    background-color: #cbf578;
    height: 35px;
    width: 80vw;
    padding-left: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #inpApellido {
    background-color: #cbf578;
    height: 35px;
    width: 80vw;
    padding-left: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #inpCorreo {
    background-color: #cbf578;
    height: 35px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 80vw;
    padding-left: 15px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #recibir {
    background-color: #cbf578;
    font-size: 1rem;
    border: none;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #meInteresa {
    background-color: #cbf578;
    font-size: 1rem;
    border: none;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #clickSi {
    background-color: #cbf578;
    width: 25px;
    height: 25px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #noInteresa {
    font-size: 1rem;
    border: none;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #clickNo {
    width: 25px;
    height: 25px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #ciudad {
    background-color: #cbf578;
    font-size: 1rem;
    border: none;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #ciudadesList {
    background-color: #cbf578;
    height: 35px;
    width: 80vw;
    border: none;
    font-size: 1rem;
    color: var(--manatee);
    border: none;
    border-radius: 5px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #comentario {
    background-color: #cbf578;
    font-size: 1rem;
    border: none;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #cajaComentario {
    background-color: #cbf578;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    color: var(--manatee);
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #limpia {
    background-color: #cbf578;
    height: 35px;
    width: 120px;
    font-size: 1rem;
    color: var(--manatee);
    border: none;
    border-radius: 5px;
  }
  .mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #envia {
    background-color: #cbf578;
    height: 35px;
    width: 120px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: var(--manatee);
  }

  .pie {
    width: 80vw;
    height: 30vh;
    grid-area: pie;
    margin: 50px auto;
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    color: black;
    font-family: "Indie Flower", cursive;
    font-size: 1rem;
  }
  .pie .pie__pDeFooter {
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .pie .pie__datos {
    text-align: center;
  }
  .pie .pie__derechos {
    text-align: center;
  }
  .pie .pie__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    transition: 1s;
  }
  .pie .pie__redes .pie__redes__item__link--face {
    font-size: 1.1rem;
    list-style: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
  .pie .pie__redes .pie__redes__item__link--tw {
    font-size: 1.1rem;
    list-style: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
  .pie .pie__redes .pie__redes__item__link--inst {
    font-size: 1.2rem;
    list-style: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
}
/* ------------------------------main del index --------------------------------------------------------- */
.bodyIndex #bodyIndex__mainIndex {
  height: 260vh;
}

.mainIndexUno {
  width: 85vw;
  height: 160vh;
  gap: 1rem;
  margin: 0px auto;
}
.mainIndexUno .mainIndexUno__seccionUno {
  grid-column: 1/13;
  grid-row: 1/5;
  margin: 35px auto;
}
.mainIndexUno .mainIndexUno__seccionUno .mainIndexUno__seccionUno__tituloindex {
  text-align: center;
  font-size: 1.7rem;
  color: black;
}
.mainIndexUno .mainIndexUno__seccionUno .mainIndexUno__seccionUno__divSeccionUno {
  height: 100%;
  margin: 35px auto;
  justify-content: space-around;
  align-items: center;
}
.mainIndexUno .mainIndexUno__seccionUno .mainIndexUno__seccionUno__divSeccionUno .mainIndexUno__seccionUno__divSeccionUno__titulo {
  font-family: "Indie Flower", cursive;
  color: black;
  font-size: 1.7rem;
}
.mainIndexUno .mainIndexUno__seccionUno .mainIndexUno__seccionUno__divSeccionUno .mainIndexUno__seccionUno__divSeccionUno__textoPrimero {
  font-size: 1.9rem;
  text-align: center;
  color: black;
  font-family: "Indie Flower", cursive;
}
.mainIndexUno .mainIndexUno__seccionDos {
  width: 100%;
  height: 40vh;
  margin: 0 auto;
  gap: 1rem;
}
.mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__tituloGaleria .mainIndexUno__seccionDos__tituloGaleria__titulo {
  color: black;
  font-size: 3rem;
  font-family: "Indie Flower", cursive;
  text-align: center;
}
.mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos {
  gap: 4rem;
  justify-content: space-around;
}
.mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos .img-nariz {
  background-image: url(../img/nariz.jpg);
  width: 200px;
  height: 200px;
  text-align: center;
}
.mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos .img-supe {
  background-image: url(../img/supe.jpg);
  width: 200px;
  height: 200px;
  text-align: center;
}
.mainIndexUno .mainIndexUno__seccionDos .mainIndexUno__seccionDos__imagenesSeccionDos .img-nena {
  background-image: url(../img/nena.jpg);
  width: 200px;
  height: 200px;
  text-align: center;
}

.mainIndexDos {
  width: 85vw;
  height: 180vh;
  margin: 0px auto;
  height: 100vh;
  justify-content: flex-end;
}
.mainIndexDos .mainIndexDos__imagenesPorfolio {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 800px;
  gap: 1rem;
  margin: 0 auto;
  padding: 0;
}
.mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__tituloPorfolio {
  margin-top: 15px;
  grid-column: 1/13;
  grid-row: 1/2;
}
.mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__tituloPorfolio .mainIndexDos__imagenesPorfolio__tituloPorfolio--titulo {
  color: black;
  text-align: center;
  font-size: 3rem;
  font-family: "Indie Flower", cursive;
}
.mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--4 {
  background-image: url(../img/porf4.jpg);
  background-size: cover;
  grid-column: 1/7;
  grid-row: 2/5;
}
.mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--5 {
  background-image: url(../img/porf5.jpg);
  background-size: cover;
  grid-column: 7/10;
  grid-row: 2/6;
}
.mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--6 {
  background-image: url(../img/porf6.jpg);
  background-size: cover;
  grid-column: 10/13;
  grid-row: 2/5;
}
.mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--7 {
  background-image: url(../img/porf7.jpg);
  background-size: cover;
  grid-column: 10/13;
  grid-row: 5/8;
}
.mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--8 {
  background-image: url(../img/porf8.jpg);
  background-size: cover;
  grid-column: 7/10;
  grid-row: 6/8;
}
.mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--9 {
  background-image: url(../img/porf9.jpg);
  background-size: cover;
  grid-column: 4/7;
  grid-row: 5/8;
}
.mainIndexDos .mainIndexDos__imagenesPorfolio .mainIndexDos__imagenesPorfolio__img--10 {
  background-image: url(../img/porf10.jpg);
  background-size: cover;
  grid-column: 1/4;
  grid-row: 5/8;
}

.card-group {
  margin: 0 auto;
  width: 72vw;
  height: 450px;
  gap: 2rem;
}

/*  --------------------------pagina de Amigurumi----------------------------------------------------- */
.cajaAmigurumi__main {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 1020px;
  height: 180vh;
  margin: 90px auto;
  gap: 1rem;
}
.cajaAmigurumi__main .cajaAmigurumi__main__tituloMain {
  color: var(--slate-blue);
  font-family: "Indie Flower", cursive;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
  grid-column: 1/13;
  grid-row: 1/2;
  display: flex;
}
.cajaAmigurumi__main .cajaAmigurumi__main__tituloMain p {
  font-size: 3rem;
  text-align: center;
}
.cajaAmigurumi__main .cajaAmigurumi__main__tituloMain h2 {
  font-size: 2rem;
  color: var(--manatee);
}
.cajaAmigurumi__main .cajaAmigurumi__main__materiales1 {
  grid-column: 1/5;
  grid-row: 2/4;
  max-width: 100%;
  background-image: url(../img/amigurumi1.jpg);
  background-size: cover;
  background-position: center;
}
.cajaAmigurumi__main .cajaAmigurumi__main__materiales2 {
  font-size: 1.2rem;
  font-family: "Indie Flower", cursive;
  justify-self: stretch;
  align-self: center;
  grid-column: 6/13;
  grid-row: 2/4;
}
.cajaAmigurumi__main .cajaAmigurumi__main__materiales3 {
  font-size: 1.2rem;
  font-family: "Indie Flower", cursive;
  justify-self: stretch;
  align-self: center;
  grid-column: 1/8;
  grid-row: 4/6;
}
.cajaAmigurumi__main .cajaAmigurumi__main__materiales4 {
  background-image: url(../img/amigurumi2.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 9/13;
  grid-row: 4/6;
}
.cajaAmigurumi__main .cajaAmigurumi__main__materiales5 {
  background-image: url(../img/amigurumi3.jpg);
  background-size: cover;
  background-position: bottom;
  grid-column: 1/5;
  grid-row: 6/8;
}
.cajaAmigurumi__main .cajaAmigurumi__main__materiales6 {
  font-size: 1.2rem;
  font-family: "Indie Flower", cursive;
  justify-self: stretch;
  align-self: center;
  grid-column: 6/13;
  grid-row: 6/8;
}
.cajaAmigurumi__main .cajaAmigurumi__main__materiales7 {
  font-size: 1.2rem;
  font-family: "Indie Flower", cursive;
  justify-self: stretch;
  align-self: center;
  grid-column: 1/8;
  grid-row: 8/10;
}
.cajaAmigurumi__main .cajaAmigurumi__main__materiales8 {
  background-image: url(../img/amigurumi5.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 9/13;
  grid-row: 8/10;
}

/* -------------------------------------------pagina Contacto------------------------------------------*/
.mainContacto {
  font-family: "Indie Flower", cursive;
}
.mainContacto .mainContacto__cajaMainContacto {
  text-align: center;
  justify-content: center;
  align-self: center;
  margin-top: 50px;
  height: 100vh;
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__tituloContacto {
  font-size: 1.7rem;
  color: var(--slate-blue);
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__tituloDatosPersonales {
  color: var(--manatee);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3vh;
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario {
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 80vw;
  height: 80vh;
  gap: 1rem;
  margin: 0 auto;
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #inpNombre {
  background-color: #cbf578;
  height: 35px;
  width: 250px;
  grid-column: 3/6;
  grid-row: 1/2;
  font-size: 1.3rem;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #inpApellido {
  background-color: #cbf578;
  height: 35px;
  width: 250px;
  grid-column: 3/6;
  grid-row: 2/3;
  font-size: 1.3rem;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #inpCorreo {
  background-color: #cbf578;
  height: 35px;
  grid-column: 3/6;
  grid-row: 3/4;
  font-size: 1.3rem;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
  width: 500px;
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #recibir {
  background-color: #cbf578;
  grid-column: 5/7;
  grid-row: 4/5;
  font-size: 1.3rem;
  padding-left: 15px;
  border: none;
  color: var(--manatee);
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #meInteresa {
  background-color: #cbf578;
  grid-column: 3/6;
  grid-row: 5/6;
  font-size: 1.2rem;
  border: none;
  color: var(--manatee);
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #clickSi {
  background-color: #cbf578;
  grid-column: 4;
  grid-row: 6;
  width: 25px;
  height: 25px;
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #noInteresa {
  background-color: #cbf578;
  grid-column: 9/11;
  grid-row: 5/6;
  font-size: 1.3rem;
  border: none;
  color: var(--manatee);
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #clickNo {
  background-color: #cbf578;
  grid-column: 6;
  grid-row: 6;
  width: 25px;
  height: 25px;
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #ciudad {
  background-color: #cbf578;
  grid-column: 2/5;
  grid-row: 7/8;
  font-size: 1.3rem;
  border: none;
  color: var(--manatee);
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #ciudadesList {
  background-color: #cbf578;
  height: 35px;
  width: 130px;
  border: none;
  grid-column: 4/6;
  grid-row: 7/8;
  font-size: 1.3rem;
  color: var(--manatee);
  border: none;
  border-radius: 5px;
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #comentario {
  background-color: #cbf578;
  grid-column: 2/4;
  grid-row: 9;
  font-size: 1.3rem;
  border: none;
  color: var(--manatee);
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #cajaComentario {
  background-color: #cbf578;
  grid-column: 4/11;
  grid-row: 9;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  color: var(--manatee);
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #limpia {
  background-color: #cbf578;
  height: 35px;
  width: 120px;
  grid-column: 1/2;
  grid-row: 10;
  font-size: 1.5rem;
  color: var(--manatee);
  border: none;
  border-radius: 5px;
}
.mainContacto .mainContacto__cajaMainContacto .mainContacto__cajaMainContacto__cajaFormulario #envia {
  background-color: #cbf578;
  height: 35px;
  width: 120px;
  grid-column: 5/6;
  grid-row: 10;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  color: var(--manatee);
}

/* --------------------------------------- pagina About ------------------------------------------------- */
.bodyAbout__main {
  align-content: flex-end;
  align-items: flex-end;
  width: 80vw;
  margin: 45px auto;
}
.bodyAbout__main .bodyAbout__main__articleUno .bodyAbout__main__articleUno__titulo {
  text-align: center;
  font-size: 1.7rem;
  color: var(--slate-blue);
  border: var(--slate-blue) 3px solid;
  border-radius: 5px;
  font-family: "Indie Flower", cursive;
}
.bodyAbout__main .bodyAbout__main__articleUno .bodyAbout__main__articleUno__titulo:hover {
  font-size: 3.5rem;
  background-color: var(--beau-blue);
}
.bodyAbout__main .bodyAbout__main__articleUno .bodyAbout__main__articleUno__texto {
  font-size: 1.2rem;
  padding: 10px 15px;
  color: var(--fire-opal);
  font-family: "Indie Flower", cursive;
}
.bodyAbout__main .bodyAbout__main__articleDos {
  /*grid*/
  gap: 0.5rem;
  margin: 10px auto;
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__titulo {
  text-align: center;
  color: var(--slate-blue);
  border: var(--slate-blue) 3px solid;
  border-radius: 5px;
  font-size: 1.7rem;
  font-family: "Indie Flower", cursive;
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__titulo:hover {
  font-size: 3.5rem;
  background-color: var(--beau-blue);
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__texto {
  padding: 10px 15px;
  font-size: 1.2rem;
  font-family: "Indie Flower", cursive;
  color: var(--fire-opal);
  text-align: justify;
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 80vh;
  gap: 1rem;
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen1 {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 200px;
  height: 200px;
  background-image: url(../img/bandidos1.jpg);
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen2 {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 200px;
  height: 200px;
  background-image: url(../img/bandidos1.jpg);
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen3 {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 200px;
  height: 200px;
  background-image: url(../img/bandidos1.jpg);
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen4 {
  grid-column: 4/5;
  grid-row: 1/2;
  width: 200px;
  height: 200px;
  background-image: url(../img/bandidos1.jpg);
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen5 {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 200px;
  height: 200px;
  background-image: url(../img/bandidos1.jpg);
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen6 {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 200px;
  height: 200px;
  background-image: url(../img/bandidos1.jpg);
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen7 {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 200px;
  height: 200px;
  background-image: url(../img/bandidos1.jpg);
}
.bodyAbout__main .bodyAbout__main__articleDos .bodyAbout__main__articleDos__imagenes .bodyAbout__main__articleDos__imagenes__imagen8 {
  grid-column: 4/5;
  grid-row: 2/3;
  width: 200px;
  height: 200px;
  background-image: url(../img/bandidos1.jpg);
}

/*-------------------------------------------------------------------------------*/
/*----------------medias 600px  ----------------------------------------------------------*/
/*--------------------------------min 600 -----------------------------*/

/*# sourceMappingURL=index.css.map */
