
/* globales */ 
@import "./Partials/globales";

/* partials */
@import "./Partials/header";



/*Header index*/

/* ------------------------------main del index --------------------------------------------------------- */

.mainIndexUno {
  
  width: 1024px;
  height: 110vh;
  gap: 1rem;
  margin: 0px auto;
  .mainIndexUno__seccionUno {
    
    grid-column: 1/13;
    grid-row: 1/5;
    margin: 35px auto;
    .mainIndexUno__seccionUno__tituloindex{
      text-align: center;
      font-size: 4rem;
      color: var(--manatee);
    }
    .mainIndexUno__seccionUno__divSeccionUno {
      height: 100%;
      margin: 35px auto;
      
      justify-content: space-around;
      align-items: center;
      color: black;
      .mainIndexUno__seccionUno__divSeccionUno__textoPrimero {
        font-size: 1.9rem;
        text-align: center;
      }
    }
  }
  .mainIndexUno__seccionDos {
    
    width: 100%;
    height: 500px;
    margin: 0px auto;
    gap: 1rem;
    .mainIndexUno__seccionDos__tituloGaleria {
      color:black;
      font-size: 2rem;
      font-family: 'Indie Flower', cursive;
      
      
    }
    .mainIndexUno__seccionDos__imagenesSeccionDos {
      gap: 4rem;
      justify-content: space-around;
      @each $juguete in nariz supe nena {
        .img-#{$juguete} {
          background-image: url(../img/#{$juguete}.jpg);
          width: 200px;
        height: 200px;
        text-align: center;
        }
      }
      
        }
      }
}


.mainIndexDos {
  width: 1024px;
  
  margin: 0px auto;
  height: 100vh;
  justify-content: flex-end;
  
  .mainIndexDos__imagenesPorfolio {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 1fr);
        width: 1024px;
        height: 600px;
        gap: 1rem;
        margin: 0 auto;
        padding: 0;
        .mainIndexDos__imagenesPorfolio__tituloPorfolio {
          margin-top: 15px;
          grid-column: 1/13;
          grid-row: 1/2;
          .mainIndexDos__imagenesPorfolio__tituloPorfolio--titulo{
            color: black;
              text-align: center;
              font-size: 3rem;
              font-family: 'Indie Flower', cursive;
          }
        }
        .mainIndexDos__imagenesPorfolio__img{

          @for $i from 4 through 10{
            &--#{$i} {
              background-image:url(../img/porf#{$i}.jpg);
              background-size: cover;
              @if $i == 4{
                
                grid-column: 1/7;
                grid-row: 2/5;
              }
              @else if $i == 5{
                grid-column: 7 / 10;
                grid-row: 2/6;
                
              }
              @else if $i == 6{
                grid-column: 10 / 13;
                grid-row: 2/5;
                
              }
              @else if $i == 7{
                grid-column: 10 / 13;
                grid-row: 5/8;
                
              }
              @else if $i == 8{
                grid-column: 7 / 10;
                grid-row: 6/8;
                
              }
              @else if $i == 9{
                grid-column: 4 / 7;
                grid-row: 5/8;
                
              }
              @else if $i == 10{
                grid-column: 1 / 4;
                grid-row: 5/8;
                
              }
            }
              

          }


        }  




        // #imagen4 {
        //   background-color: var(--manatee);
        //   grid-column: 1/7;
        //   grid-row: 2/5;
        // }
        // #imagen5 {
        //   background-color: var(--manatee);
        //   grid-column: 7 / 10;
        //   grid-row: 2/6;
        // }
        // #imagen6 {
          
        //   // background-color: var(--manatee);
          
        //   grid-column: 10 / 13;
        //   grid-row: 2/5;
        //   background-image: url(/amigurumi4.jpg);   // por que no carga la imagen??? //
        // }
        // #imagen7 {
        //   background-color: var(--manatee);
        //   grid-column: 10 / 13;
        //   grid-row: 5/8;
        // }
        // #imagen8 {
        //   background-color: var(--manatee);
        //   grid-column: 7 / 10;
        //   grid-row: 6/8;
        // }
        // #imagen9 {
        //   background-color: var(--manatee);
        //   grid-column: 4 / 7;
        //   grid-row: 5/8;
        // }
        // #imagen10 {
        //   background-color: var(--manatee);
        //   grid-column: 1 / 4;
        //   grid-row: 5/8;
        // }
}
}



.card-group {
      margin: 0 auto;
      width: 72vw;
      height: 450px;
      gap: 2rem;
}

.pie {
      background-color: var(--smoky-black);
      width: 1024px;
      height: 55vh;
      grid-area: pie;
      margin: 0 auto;
      text-decoration: none;
      display: inline-block;
      display: grid;
      grid-template-areas:
        "pie__pDeFooter pie__pDeFooter "
        "pie__datos pie__derechos"
        "pie__redes  pie__redes ";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      align-content: center;
      justify-content: space-around;
      column-gap: 10px;
      row-gap: 10px;
      padding: 5px 10px;
      color: var(--manatee);
      margin-top: 25px;
      .pie__pDeFooter {
        grid-area: pie__pDeFooter;
        font-size: 2rem;
        text-align: center;
        border-bottom: 6px var(--manatee) solid;
        margin-bottom: 15px;
        padding-bottom: 15px;
      }
      .pie__datos {
        grid-area: pie__datos;
        font-size: 2rem;
        text-align: start;
      }
      .pie__derechos {
        grid-area: pie__derechos;
        font-size: 2rem;
        text-align: end;
      }
      .pie__redes {
        grid-area: pie__redes;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        transition: 1s;
        .pie__redes__item {
          font-size: 1.5rem;
          list-style: none;
          .pie__redes__item__link {
            list-style: none;
            text-decoration: none;
            font-size: 2rem;
            color: var(--manatee);
            border-radius: 5px;
            #redes__face:hover {
              background-color: rgba(50, 50, 230, 0.904);
              color: white;
            }
            #redes__twiter:hover {
              background-color: rgba(98, 198, 216, 0.925);
              color: white;
            }
            #redes__instagram:hover {
              background: linear-gradient(
                45deg,
                #ed601e 6%,
                #f71348 31%,
                #e50d8b 52%,
                #f202d2 67%,
                #cd02e0 84%,
                #dd09f4 100%
          );
              color: white;
        }
      }
    }
  }
}




  /*  --------------------------pagina de Amigurumi----------------------------------------------------- */



.cajaAmigurumi__mainForja{

    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 54px);
    width: 1020px;
    height: 700px;
    margin: 90px auto;
    gap: 1rem;
    .cajaAmigurumi__mainForja__tituloMainForja{
      background-color:yellow;
      justify-content: center;
      align-items: center;
      grid-column: 1/13;
      grid-row: 1/2;
      display: flex;
        p{
          font-size: 3rem;
          text-align: center;
      }
        h2{
          font-size: 2rem;
          color: var(--manatee);
        }
    }

    .cajaAmigurumi__mainForja__materiales1 {
      grid-column: 1/5;
      grid-row: 2/4;
      height: 130px;
      width: 350px;
      max-width: 100%;
      // background-color: yellow;
      background-image:url(../img/amigurumi1.jpg);
      background-size: cover;
      background-position: center;
      
    }
    .cajaAmigurumi__mainForja__materiales2 {
      font-size: 1.1rem;
      text-align: center;
      background-color: whitesmoke;
      grid-column: 6/13;
      grid-row: 2/4;
    }
    .cajaAmigurumi__mainForja__materiales3 {
      font-size: 1.1rem;
      text-align: center;
      background-color: whitesmoke;
      grid-column: 1/8;
      grid-row: 4/6;
    }
    .cajaAmigurumi__mainForja__materiales4 {
      background-image:url(../img/amigurumi2.jpg);
      background-size: cover;
      background-position: center;
      
      grid-column: 9/13;
      grid-row: 4/6;
    }
    .cajaAmigurumi__mainForja__materiales5 {
      background-image:url(../img/amigurumi3.jpg);
      background-size: cover;
      background-position: bottom;
      
      grid-column: 1/5;
      grid-row: 6/8;
    }
    .cajaAmigurumi__mainForja__materiales6 {
      font-size: 1.1rem;
      text-align: center;
      background-color: whitesmoke;
      grid-column: 6/13;
      grid-row: 6/8;
    }
    .cajaAmigurumi__mainForja__materiales7 {
      font-size: 1.1rem;
      text-align: center;
      background-color: whitesmoke;
      grid-column: 1/8;
      grid-row: 8/10;
    }
    .cajaAmigurumi__mainForja__materiales8 {
      background-image: url(../img/amigurumi5.jpg);
      background-size: cover;
      background-position: center;
      
      grid-column: 9/13;
      grid-row: 8/10;
    }
    
  }


.headerForja {
    width: 1024px;
    height: 55vh;
    margin: 0 auto;
    background-image: url(/imagenes/carbonEncendidas.jpg);
    background-size: cover;
    background-position: center;
  }
  // .mainForja {
  //   background-color: var(--smoky-black);
  //   grid-template-columns: repeat(12, 1fr);
  //   grid-template-rows: repeat(9, 54px);
  //   width: 1024px;
  //   height: 700px;
  //   gap: 1rem;
  //   margin: 0 auto;
  // }

  
  // .cajaAmigurumi__mainForja__tituloMainForja {
  //   background-color: var(--smoky-black);
  //   justify-content: center;
  //   align-items: center;
  //   grid-column: 1/13;
  //   grid-row: 1/2;
  //   display: flex;
  // }
 
  // .mainForja p {
  //   font-size: 1.2rem;
  //   text-align: center;
  // }

  /* -------------------------------------------pagina Contacto------------------------------------------*/

  h2 {
    color: var(--manatee);
    font-size: 3rem;
    text-align: center;
  }
.mainContacto{

  .mainContacto__cajaMainContacto{

    .mainContacto__cajaMainContacto__tituloContacto{
font-size: 2rem;

    }
    .mainContacto__cajaMainContacto__tituloDatosPersonales{
      color: var(--manatee);
      font-size: 1.5rem;
      text-align: center;
      margin-top: 3vh;
      
    }
    .mainContacto__cajaMainContacto__cajaFormulario {
      background-color: var(--smoky-black);
    /* background-color:var(--smoky-black); */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 54px);
    width: 1024px;
    height: 80vh;
    gap: 1rem;
    margin: 0 auto;
    #inpNombre {
      height: 35px;
      width: 250px;
      grid-column: 2/4;
      grid-row: 2/3;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
    }
    #inpApellido {
      height: 35px;
      width: 250px;
      grid-column: 2/4;
      grid-row: 3/4;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
    }
    #inpCorreo {
      height: 35px;
      grid-column: 2/6;
      grid-row: 4/5;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
      width: 500px;
    }
    #recibir {
      grid-column: 2/4;
      grid-row: 5/6;
      font-size: 1.5rem;
      border: none;
      color: var(--manatee);
    }
    #meInteresa {
      grid-column: 4/8;
      grid-row: 5/6;
      font-size: 1.5rem;
      border: none;
      color: var(--manatee);
    }
    #clickSi {
      grid-column: 6;
      grid-row: 6;
  
      width: 25px;
      height: 25px;
    }
    #noInteresa {
      grid-column: 9/11;
      grid-row: 5/6;
      font-size: 1.5rem;
      border: none;
      color: var(--manatee);
    }
    #clickNo {
      grid-column: 10;
      grid-row: 6;
  
      width: 25px;
      height: 25px;
    }
    #ciudad {
      grid-column: 9/11;
      grid-row: 1/2;
      font-size: 1.5rem;
      border: none;
      color: var(--manatee);
    }
    #ciudadesList {
      height: 35px;
      width: 130px;
      border: none;
      grid-column: 11/13;
      grid-row: 1/2;
      font-size: 1.5rem;
      color: var(--manatee);
      border: none;
      border-radius: 5px;
    }
    #comentario {
      grid-column: 2/4;
      grid-row: 7;
      font-size: 1.5rem;
      border: none;
      color: var(--manatee);
    }
    #cajaComentario {
      grid-column: 4/11;
      grid-row: 7/9;
      font-size: 1.5rem;
      border: none;
  
      border-radius: 10px;
      color: var(--manatee);
    }
    #limpia {
      height: 35px;
      width: 120px;
      grid-column: 1/3;
      grid-row: 9;
      font-size: 1.5rem;
  
      color: var(--manatee);
      border: none;
      border-radius: 5px;
    }
    #envia {
      height: 35px;
      width: 120px;
      grid-column: 12/13;
      grid-row: 9;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
      color: var(--manatee);
    }

    }
  }
}




 

 
  
  /* --------------------------------------- pagina About ------------------------------------------------- */

  .bodyAbout {
    background-color: var(--smoky-black);
    height: 280vh;
    align-content: center;
    align-items: center;
    .bodyAbout__main {
      align-content: center;
      align-items: center;
      width: 1024px;
      height: 1000px;
      margin: 45px auto;
      .bodyAbout__main__articleUno {
        .bodyAbout__main__articleUno__titulo {
          font-size: 2rem;
          color: yellow;
        }
        .bodyAbout__main__articleUno__texto {
          font-size: 1.2rem;
          padding: 10px 15px;
          color: var(--manatee);
        }
      }

      .bodyAbout__main__articleDos {
        /*grid*/

        gap: 0.5rem;
        height: 150vh;
        margin: 10px auto;

        .bodyAbout__main__articleDos__titulo {
          color: yellow;
          font-size: 2rem;
        }
        .bodyAbout__main__articleDos__texto {
          padding: 10px 15px;
          font-size: 1rem;
          color: var(--manatee);
          text-align: justify;
        }
        .bodyAbout__main__articleDos__imagenes {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          height: 80vh;
          gap: 1rem;
          $caja: amarillo;
          .bodyAbout__main__articleDos__imagenes__imagen1 {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 200px;
            height: 200px;

            @if ($caja==amarillo) {
              background-color: yellow;
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen2 {
            grid-column: 2/3;
            grid-row: 1/2;
            width: 200px;
            height: 200px;
            @if ($caja==amarillo) {
              background-color: yellow;
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen3 {
            grid-column: 3/4;
            grid-row: 1/2;
            width: 200px;
            height: 200px;
            @if ($caja==amarillo) {
              background-color: yellow;
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen4 {
            grid-column: 4/5;
            grid-row: 1/2;
            width: 200px;
            height: 200px;
            @if ($caja==amarillo) {
              background-color: yellow;
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen5 {
            grid-column: 1/2;
            grid-row: 2/3;
            width: 200px;
            height: 200px;
            @if ($caja==amarillo) {
              background-color: yellow;
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen6 {
            grid-column: 2/3;
            grid-row: 2/3;
            width: 200px;
            height: 200px;
            @if ($caja==amarillo) {
              background-color: yellow;
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen7 {
            grid-column: 3/4;
            grid-row: 2/3;
            width: 200px;
            height: 200px;
            @if ($caja==amarillo) {
              background-color: yellow;
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen8 {
            grid-column: 4/5;
            grid-row: 2/3;
            width: 200px;
            height: 200px;
            @if ($caja==amarillo) {
              background-color: yellow;
            } @else {
              background-color: gray;
            }
          }
        }
      }
    }
  }
  .bodyAbout__pie {
    width: 1024px;
    height: 400px;
    grid-area: pie;
    grid-template-areas:
      "pie__pDeFooter pie__pDeFooter "
      "pie__datos pie__derechos"
      "pie__redes  pie__redes ";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    color: var(--manatee);
    .bodyAbout__pie__pDeFooter {
      grid-area: pie__pDeFooter;
      font-size: 2rem;
      text-align: center;
      border-bottom: 6px var(--manatee) solid;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
    .bodyAbout__pie__datos {
      grid-area: pie__datos;
      font-size: 2rem;
      text-align: start;
    }
    .bodyAbout__pie__derechos {
      grid-area: pie__derechos;
      font-size: 2rem;
      text-align: end;
    }
    .bodyAbout__pie__redes {
      grid-area: pie__redes;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      transition: 1s;
      .bodyAbout__pie__redes__item {
        font-size: 1.5rem;
        list-style: none;
        .bodyAbout__pie_redes__item__link {
          list-style: none;
          text-decoration: none;
          font-size: 2rem;
          color: var(--manatee);
          border-radius: 5px;
          #redes__face:hover {
            background-color: rgba(50, 50, 230, 0.904);
            color: white;
          }
          #redes__twiter:hover {
            background-color: rgba(98, 198, 216, 0.925);
            color: white;
          }
          #redes__instagram:hover {
            background: linear-gradient(
              45deg,
              #ed601e 6%,
              #f71348 31%,
              #e50d8b 52%,
              #f202d2 67%,
              #cd02e0 84%,
              #dd09f4 100%
            );
            color: white;
          }
        }
      }
    }
  }

