$fuenteCuerpo :'Indie Flower', cursive;
$tamanioFuenteCuerpo: 1.8rem;
$tamanioTitulo:2.5rem;
$colorTextoAbout: var(--fire-opal);
$colorTituloAbout: var(--slate-blue);
$fuenteTamanioGrid:1.4rem;
$colorcajainput:rgb(203, 245, 120);
@import "./Partials/header";
@import "./Partials/globales";
@import "./Partials/footer";











/* ------------------------------main del index --------------------------------------------------------- */

.mainIndexUno {
  
  width: 85vw;
  height: 90vh;
  gap: 1rem;
  margin: 0px auto;
  .mainIndexUno__seccionUno {
    
    grid-column: 1/13;
    grid-row: 1/5;
    margin: 35px auto;
    .mainIndexUno__seccionUno__tituloindex{
      text-align: center;
      font-size: $tamanioTitulo;
      color: black;
    }
    .mainIndexUno__seccionUno__divSeccionUno {
      height: 100%;
      margin: 35px auto;
      
      justify-content: space-around;
      align-items: center;
      
      .mainIndexUno__seccionUno__divSeccionUno__titulo{
        font-family: 'Indie Flower', cursive;
        color: black;
        font-size: $tamanioTitulo;
      }
      .mainIndexUno__seccionUno__divSeccionUno__textoPrimero{
        font-size: 1.9rem;
        text-align: center;
        color: black;
        font-family: $fuenteCuerpo;  
      }
    }
  }
  .mainIndexUno__seccionDos {
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    gap: 1rem;
    .mainIndexUno__seccionDos__tituloGaleria {

      .mainIndexUno__seccionDos__tituloGaleria__titulo{
      color: black;
      font-size: 3rem;
      font-family: 'Indie Flower', cursive;
      text-align: center;

    }
      
    }
    .mainIndexUno__seccionDos__imagenesSeccionDos {
      gap: 4rem;
      justify-content: space-around;
      @each $juguete in nariz supe nena {
        .img-#{$juguete} {
          background-image: url(../img/#{$juguete}.jpg);
          width: 200px;
        height: 200px;
        text-align: center;
        }
      }
      
        }
      }
}


.mainIndexDos {
  
  width: 85vw;
  height: 180vh;
  margin: 0px auto;
  height: 100vh;
  justify-content: flex-end;
  
  .mainIndexDos__imagenesPorfolio {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 1fr);
        width: 100%;
        height: 800px;
        gap: 1rem;
        margin: 0 auto;
        padding: 0;
        .mainIndexDos__imagenesPorfolio__tituloPorfolio {
          margin-top: 15px;
          grid-column: 1/13;
          grid-row: 1/2;
          .mainIndexDos__imagenesPorfolio__tituloPorfolio--titulo{
            color: black;
              text-align: center;
              font-size: 3rem;
              font-family: 'Indie Flower', cursive;
          }
        }
        .mainIndexDos__imagenesPorfolio__img{

          @for $i from 4 through 10{
            &--#{$i} {
              background-image:url(../img/porf#{$i}.jpg);
              background-size: cover;
              @if $i == 4{
                
                grid-column: 1/7;
                grid-row: 2/5;
              }
              @else if $i == 5{
                grid-column: 7 / 10;
                grid-row: 2/6;
                
              }
              @else if $i == 6{
                grid-column: 10 / 13;
                grid-row: 2/5;
                
              }
              @else if $i == 7{
                grid-column: 10 / 13;
                grid-row: 5/8;
                
              }
              @else if $i == 8{
                grid-column: 7 / 10;
                grid-row: 6/8;
                
              }
              @else if $i == 9{
                grid-column: 4 / 7;
                grid-row: 5/8;
                
              }
              @else if $i == 10{
                grid-column: 1 / 4;
                grid-row: 5/8;
                
              }
            }
              

          }


        }  
}
}


.card-group {
      margin: 0 auto;
      width: 72vw;
      height: 450px;
      gap: 2rem;
}





  /*  --------------------------pagina de Amigurumi----------------------------------------------------- */



.cajaAmigurumi__main{

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 1020px;
    height: 180vh;
    margin: 90px auto;
    gap: 1rem;
    .cajaAmigurumi__main__tituloMain{
      color:$colorTituloAbout;
      font-family: $fuenteCuerpo;
      font-size: $tamanioTitulo;
      justify-content: center;
      align-items: center;
      grid-column: 1/13;
      grid-row: 1/2;
      display: flex;
        p{
          font-size: 3rem;
          text-align: center;
      }
        h2{
          font-size: 2rem;
          color: var(--manatee);
        }
    }

    .cajaAmigurumi__main__materiales1 {
      grid-column: 1/5;
      grid-row: 2/4;
    
      max-width: 100%;
      // background-color: yellow;
      background-image:url(../img/amigurumi1.jpg);
      background-size: cover;
      background-position: center;
      
    }
    .cajaAmigurumi__main__materiales2 {
      font-size: $fuenteTamanioGrid;
      font-family: $fuenteCuerpo;
      justify-self: stretch;
      align-self: center;
      grid-column: 6/13;
      grid-row: 2/4;
    }
    .cajaAmigurumi__main__materiales3 {
      font-size: $fuenteTamanioGrid;
      font-family: $fuenteCuerpo;
      justify-self: stretch;
      align-self: center;
      grid-column: 1/8;
      grid-row: 4/6;
    }
    .cajaAmigurumi__main__materiales4 {
      background-image:url(../img/amigurumi2.jpg);
      background-size: cover;
      background-position: center;
      grid-column: 9/13;
      grid-row: 4/6;
    }
    .cajaAmigurumi__main__materiales5 {
      background-image:url(../img/amigurumi3.jpg);
      background-size: cover;
      background-position: bottom;
      grid-column: 1/5;
      grid-row: 6/8;
    }
    .cajaAmigurumi__main__materiales6 {
      font-size: $fuenteTamanioGrid;
      font-family: $fuenteCuerpo;
      justify-self: stretch;
      align-self: center;
      grid-column: 6/13;
      grid-row: 6/8;
    }
    .cajaAmigurumi__main__materiales7 {
      font-size: $fuenteTamanioGrid;
      font-family: $fuenteCuerpo;
      justify-self: stretch;
      align-self: center;
      grid-column: 1/8;
      grid-row: 8/10;
    }
    .cajaAmigurumi__main__materiales8 {
      background-image: url(../img/amigurumi5.jpg);
      background-size: cover;
      background-position: center;
      
      grid-column: 9/13;
      grid-row: 8/10;
    }
    
  }



  /* -------------------------------------------pagina Contacto------------------------------------------*/

  
.mainContacto{
  font-family: $fuenteCuerpo;
  
  .mainContacto__cajaMainContacto{
    text-align: center;
    justify-content: center;
    align-self: center;
    margin-top: 50px;
    height: 120vh;
    .mainContacto__cajaMainContacto__tituloContacto{
    font-size: $tamanioTitulo;
    color: $colorTituloAbout;

    }
    .mainContacto__cajaMainContacto__tituloDatosPersonales{
      color: var(--manatee);
      font-size: 1.5rem;
      text-align: center;
      margin-top: 3vh;
      
    }
    .mainContacto__cajaMainContacto__cajaFormulario {
      justify-items: stretch;
      align-items: stretch;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 1024px;
    height: 80vh;
    gap: 1rem;
    margin: 0 auto;
   
    #inpNombre {
      background-color: $colorcajainput;
      height: 35px;
      width: 250px;
      grid-column: 2/4;
      grid-row: 2/3;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
      
    
    }
    #inpApellido {
      background-color: $colorcajainput;
      height: 35px;
      width: 250px;
      grid-column: 2/4;
      grid-row: 3/4;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
      
    }
    #inpCorreo {
      background-color: $colorcajainput;
      height: 35px;
      grid-column: 2/6;
      grid-row: 4/5;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
      width: 500px;
 
    }
    #recibir {
      background-color: $colorcajainput;
      grid-column: 2/4;
      grid-row: 5/6;
      font-size: 1.5rem;
      border: none;
      color: var(--manatee);
      
    }
    #meInteresa {
      background-color: $colorcajainput;
      grid-column: 4/8;
      grid-row: 5/6;
      font-size: $fuenteTamanioGrid;
      border: none;
      color: var(--manatee);
     
    }
    #clickSi {
      background-color: $colorcajainput;
      grid-column: 6;
      grid-row: 6;
  
      width: 25px;
      height: 25px;
    
    }
    #noInteresa {
      background-color: $colorcajainput;
      grid-column: 9/11;
      grid-row: 5/6;
      font-size: 1.5rem;
      border: none;
      color: var(--manatee);
     
    }
    #clickNo {
      background-color: $colorcajainput;
      grid-column: 10;
      grid-row: 6;
  
      width: 25px;
      height: 25px;
     
    }
    #ciudad {
      background-color: $colorcajainput;
      grid-column: 9/11;
      grid-row: 1/2;
      font-size: 1.5rem;
      border: none;
      color: var(--manatee);
    
    }
    #ciudadesList {
      background-color: $colorcajainput;
      height: 35px;
      width: 130px;
      border: none;
      grid-column: 11/13;
      grid-row: 1/2;
      font-size: 1.5rem;
      color: var(--manatee);
      border: none;
      border-radius: 5px;
     
    }
    #comentario {
      background-color: $colorcajainput;
      grid-column: 2/4;
      grid-row: 7;
      font-size: 1.5rem;
      border: none;
      color: var(--manatee);
    
    }
    #cajaComentario {
      background-color: $colorcajainput;
      grid-column: 4/11;
      grid-row: 7/9;
      font-size: 1.5rem;
      border: none;
  
      border-radius: 10px;
      color: var(--manatee);
      
    }
    #limpia {
      background-color: $colorcajainput;
      height: 35px;
      width: 120px;
      grid-column: 1/3;
      grid-row: 9;
      font-size: 1.5rem;
  
      color: var(--manatee);
      border: none;
      border-radius: 5px;
      
    }
    #envia {
      background-color: $colorcajainput;
      height: 35px;
      width: 120px;
      grid-column: 12/13;
      grid-row: 9;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
      color: var(--manatee);
      
    }

    }
  }
}




 

 
  
  /* --------------------------------------- pagina About ------------------------------------------------- */

      
  .bodyAbout__main {
      align-content:flex-end;
      align-items: flex-end;
      width: 1024px;
      
      margin: 45px auto;
      .bodyAbout__main__articleUno {
        .bodyAbout__main__articleUno__titulo {
          text-align: center;
          font-size: $tamanioTitulo; 
          color:$colorTituloAbout;
          border: $colorTituloAbout 3px solid;
          border-radius: 5px;
          font-family: $fuenteCuerpo;
           
          
        }
        .bodyAbout__main__articleUno__titulo:hover{
          font-size: 3.5rem;
          background-color: var(--beau-blue);
        }
        .bodyAbout__main__articleUno__texto {
          font-size: $tamanioFuenteCuerpo;
          padding: 10px 15px;
          color: var(--fire-opal);
          font-family: $fuenteCuerpo ;
        }
      }

      .bodyAbout__main__articleDos {
        /*grid*/

        gap: 0.5rem;
        // height: 150vh;
        margin: 10px auto;

        .bodyAbout__main__articleDos__titulo {
          text-align: center;
          color:$colorTituloAbout;
          border: $colorTituloAbout 3px solid;
          border-radius: 5px;
          font-size: $tamanioTitulo; 
          font-family: $fuenteCuerpo;
        }
        .bodyAbout__main__articleDos__titulo:hover{
          font-size: 3.5rem;
          background-color: var(--beau-blue);
        }
        .bodyAbout__main__articleDos__texto {
          padding: 10px 15px;
          font-size: $tamanioFuenteCuerpo;
          font-family: $fuenteCuerpo;
          color:$colorTextoAbout;
          text-align: justify;
        }
        .bodyAbout__main__articleDos__imagenes {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          // height: 80vh;
          gap: 1rem;
          $caja: bandidos1;
          .bodyAbout__main__articleDos__imagenes__imagen1 {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 200px;
            height: 200px;

            @if ($caja==bandidos1) {
              background-image: url(../img/bandidos1.jpg);
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen2 {
            grid-column: 2/3;
            grid-row: 1/2;
            width: 200px;
            height: 200px;
            @if ($caja==bandidos1) {
              background-image: url(../img/bandidos1.jpg);
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen3 {
            grid-column: 3/4;
            grid-row: 1/2;
            width: 200px;
            height: 200px;
            @if ($caja==bandidos1) {
              background-image: url(../img/bandidos1.jpg);
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen4 {
            grid-column: 4/5;
            grid-row: 1/2;
            width: 200px;
            height: 200px;
            @if ($caja==bandidos1) {
              background-image: url(../img/bandidos1.jpg);
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen5 {
            grid-column: 1/2;
            grid-row: 2/3;
            width: 200px;
            height: 200px;
            @if ($caja==bandidos1) {
              background-image: url(../img/bandidos1.jpg);
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen6 {
            grid-column: 2/3;
            grid-row: 2/3;
            width: 200px;
            height: 200px;
            @if ($caja==bandidos1) {
              background-image: url(../img/bandidos1.jpg);
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen7 {
            grid-column: 3/4;
            grid-row: 2/3;
            width: 200px;
            height: 200px;
            @if ($caja==bandidos1) {
              background-image: url(../img/bandidos1.jpg);
            } @else {
              background-color: gray;
            }
          }
          .bodyAbout__main__articleDos__imagenes__imagen8 {
            grid-column: 4/5;
            grid-row: 2/3;
            width: 200px;
            height: 200px;
            @if ($caja==bandidos1) {
              background-image: url(../img/bandidos1.jpg);
            } @else {
              background-color: gray;
            }
          }
        }
      }
    }
  
  /*-------------------------------------------------------------------------------*/

 /*----------------medias 600px  -------------------------------*/

@media only screen and (max-width: 600px){

  .mainIndexUno {
      background-color:chartreuse;
      display: flex;
      flex-direction: column;
      width: 85vw;
      height: 180vh;
      gap: 0.2rem;
      margin: 0px auto;

      justify-content: space-around;
      
      .mainIndexUno__seccionUno {
        
        .mainIndexUno__seccionUno__divSeccionUno{
      
             
        
          .mainIndexUno__seccionUno__divSeccionUno__titulo{
              font-size: 1.6rem;
          
          }
          .mainIndexUno__seccionUno__divSeccionUno__textoPrimero {
              font-size: 1.2rem;
             
              padding: 0 25px;
              
          }
        
      }
  }
      .mainIndexUno__seccionDos {
       display: flex;
       flex-direction: column;
       justify-content: space-around; 
       background-color: blue;
       height: 100vh;
        .mainIndexUno__seccionDos__tituloGaleria {
          
          .mainIndexUno__seccionDos__tituloGaleria__titulo{
              font-size: 1.6rem;
              
              
        }
          
        }
        .mainIndexUno__seccionDos__imagenesSeccionDos {
          background-color: chartreuse;
          
          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: center;
          align-self: center;
          width: 400px;
          
          margin: 50px auto;
          @each $juguete in nariz supe nena {
            .img-#{$juguete} {
              background-image: url(../img/#{$juguete}.jpg);
              
            text-align: center;
            }
          }
          
            }
          }
    }
 .mainIndexDos {
      background-color: cyan;
      width: 85vw;
      margin: 25px auto;
      height: 150vh;
      justify-content:flex-start;

      
      .mainIndexDos__imagenesPorfolio {
            display: flex;
            flex-direction: column;
            width: 90%;
           
            gap: 1rem;
            margin: 0 auto;
            padding: 0;
            background-color: darkblue;
              height: 150vh;
              align-items: center;
            .mainIndexDos__imagenesPorfolio__tituloPorfolio {
              margin-top: 15px;
              
              .mainIndexDos__imagenesPorfolio__tituloPorfolio--titulo{
                color: black;
                  text-align: center;
                  font-size: 3rem;
                  font-family: 'Indie Flower', cursive;

              }
            }
            .mainIndexDos__imagenesPorfolio__img{
              background-color: blue;
              width: 200px;
                   height: 200px; 
              @for $i from 4 through 10{
                &--#{$i} {
                  background-image:url(../img/porf#{$i}.jpg);
                  background-size: cover;
                  @if $i == 4{
                   
                  
                  }
                  @else if $i == 5{
                   
                    
                  }
                  @else if $i == 6{
                    
                    
                  }
                  @else if $i == 7{
                   
                    
                  }
                  @else if $i == 8{
                   
                    
                  }
                  @else if $i == 9{
                   
                    
                  }
                  @else if $i == 10{
                  
                    
                  }
                }
                  
    
              }
    
    
            }  
    }
    }
    
    
    .card-group {
          margin: 0 auto;
          width: 72vw;
          height: 450px;
          gap: 2rem;
    }
    





}