@import "./globales";

$colorFuenteFooter: var(--maximum-blue-purple);
$fuenteFooter :'Indie Flower', cursive;

.pie {
    width: 80vw;
    height: 30vh;
    grid-area: pie;
    margin: 50px auto;
    text-decoration: none;
    display: inline-block;
    display: grid;
    grid-template-areas:
      "pie__pDeFooter pie__pDeFooter "
      "pie__datos pie__derechos"
      "pie__redes  pie__redes ";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: stretch;
    justify-content: stretch;
    column-gap: 10px;
    row-gap: 10px;
    padding: 5px 10px;
    color:$colorFuenteFooter;
    font-family: $fuenteFooter;
    font-size: 1.5rem;
    
    
    .pie__pDeFooter {
      grid-area: pie__pDeFooter;
      
      text-align: center;
      align-items: stretch;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
    .pie__datos {
      grid-area: pie__datos;
      
      text-align: start;
    }
    .pie__derechos {
      grid-area: pie__derechos;
      
      text-align: end;
    }
    .pie__redes {
      grid-area: pie__redes;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      transition: 1s;
        .pie__redes__item__link--face {
        
        font-size: 1.5rem;
        list-style: none;
        text-decoration: none;
        color: black;
        border-radius: 5px;
           .pie__redes__item__link--face :hover {
            background-color: rgba(50, 50, 230, 0.904);
            color: white;
          }
        }
        .pie__redes__item__link--tw {
        font-size: 1.5rem;
        list-style: none;
        text-decoration: none;
        color: black;
        border-radius: 5px;
            
        .pie__redes__item__link--tw:hover {
            background-color: rgba(98, 198, 216, 0.925);
            color: white;
          }
        }
        .pie__redes__item__link--inst {
            font-size: 1.5rem;
            list-style: none;
            text-decoration: none;
            color: black;
            border-radius: 5px;
                
            .pie__redes__item__link--inst:hover {
                background: linear-gradient(
                    45deg,
                    #ed601e 6%,
                    #f71348 31%,
                    #e50d8b 52%,
                    #f202d2 67%,
                    #cd02e0 84%,
                    #dd09f4 100%
                );
                color: white;
              }
            }
}   
}

/*------------------------------------------medias---------------------------*/
@media (max-width: 320px){

.pie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  align-self: center;
  width: 100vw;
  height: 200vh;
  grid-area: pie;
  margin: 50px auto;
  text-decoration: none;
  display: inline-block;
  color:$colorFuenteFooter;
  font-family: $fuenteFooter;
  font-size: 1.5rem;
  color: black;
  
  
  .pie__pDeFooter {
    grid-area: pie__pDeFooter;
    
    text-align: center;
    align-items: stretch;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .pie__datos {
    grid-area: pie__datos;
    
    text-align: start;
  }
  .pie__derechos {
    grid-area: pie__derechos;
    
    text-align: end;
  }
  .pie__redes {
    grid-area: pie__redes;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    transition: 1s;
      .pie__redes__item__link--face {
      
      font-size: 1.5rem;
      list-style: none;
      text-decoration: none;
      color: black;
      border-radius: 5px;
         .pie__redes__item__link--face :hover {
          background-color: rgba(50, 50, 230, 0.904);
          color: white;
        }
      }
      .pie__redes__item__link--tw {
      font-size: 1.5rem;
      list-style: none;
      text-decoration: none;
      color: black;
      border-radius: 5px;
          
      .pie__redes__item__link--tw:hover {
          background-color: rgba(98, 198, 216, 0.925);
          color: white;
        }
      }
      .pie__redes__item__link--inst {
          font-size: 1.5rem;
          list-style: none;
          text-decoration: none;
          color: black;
          border-radius: 5px;
              
          .pie__redes__item__link--inst:hover {
              background: linear-gradient(
                  45deg,
                  #ed601e 6%,
                  #f71348 31%,
                  #e50d8b 52%,
                  #f202d2 67%,
                  #cd02e0 84%,
                  #dd09f4 100%
              );
              color: white;
            }
          }
}   
}
}