

.headerIndex{
    .navbar{
        .container-fluid{
            .navbar-collapse{
                display: none;
                background-color: aqua;
                justify-content: right;
                flex-grow: 1;
                #navbarNavAltMarkup{
                    justify-content: right;
                }
            }
        }
    }
}