@import "./globales";

.headerIndex{

     .headerIndex__banner{
    background-image: url(../img/carrusel2.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100vw;
    height: 65vh;
    margin-top: 15px;
    
    
        .headerIndex__banner__navbar{
            background-color: var(--wild-blue-yonder50);
            width: 100vw;
            height: 15vh;
            margin-top: 0 auto;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            position: fixed;
            z-index: 2;
            .headerIndex__banner__navbar__logo{
                width: 350px;

            }
            .headerIndex__banner__navbar__items{
                
               
                
                margin: 5px 25px;
                .headerIndex__banner__navbar__items__list{
                    display: inline-block;
                    font-size: 1.2rem;
                    padding: 5px 25px;
                }
            }
        
        }
}
}