$fuenteCuerpo :'Indie Flower', cursive;
$tamanioFuenteCuerpo: 1.2rem;
$tamanioTitulo:1.7rem;
$colorTextoAbout: var(--fire-opal);
$colorTituloAbout: var(--slate-blue);
$fuenteTamanioGrid:1.2rem;
$colorcajainput:rgb(203, 245, 120);






/*----------------medias 600px  -------------------------------*/

@media only screen and (max-width: 600px){

    .mainIndexUno {
        background-color: aqua;
        display: flex;
        flex-direction: column;
        width: 85vw;
        height: 200vh;
        gap: 0.2rem;
        margin: 0px auto;
        
        .mainIndexUno__seccionUno {
          
          .mainIndexUno__seccionUno__divSeccionUno{
        
               
          
            .mainIndexUno__seccionUno__divSeccionUno__titulo{
                font-size: 1rem;
            
            }
            .mainIndexUno__seccionUno__divSeccionUno__textoPrimero {
                font-size: 1rem;
                background-color: burlywood;
                
            }
          
        }
    }
        .mainIndexUno__seccionDos {
         background-color: blue;
         height: 200vh;
          .mainIndexUno__seccionDos__tituloGaleria {
            
            .mainIndexUno__seccionDos__tituloGaleria__titulo{
                font-size: 1rem;
                background-color: brown;
                
          }
            
          }
          .mainIndexUno__seccionDos__imagenesSeccionDos {
            width: 400px;
            height: 400px;
            @each $juguete in nariz supe nena {
              .img-#{$juguete} {
                background-image: url(../img/#{$juguete}.jpg);
                
              text-align: center;
              }
            }
            
              }
            }
      }
       
      
   
    .mainIndexDos {
        background-color: brown;
        width: 85vw;
        height: 180vh;
        margin: 0px auto;
        height: 200vh;
        justify-content: flex-end;
        
        .mainIndexDos__imagenesPorfolio {
              display: flex;
              flex-direction: column;
              width: 90%;
              height: 800px;
              gap: 1rem;
              margin: 0 auto;
              padding: 0;
              .mainIndexDos__imagenesPorfolio__tituloPorfolio {
                margin-top: 15px;
             
                .mainIndexDos__imagenesPorfolio__tituloPorfolio--titulo{
                  color: black;
                    text-align: center;
                    font-size: 3rem;
                    font-family: 'Indie Flower', cursive;
                }
              }
              .mainIndexDos__imagenesPorfolio__img{
                background-color: blue;
                @for $i from 4 through 10{
                  &--#{$i} {
                    background-image:url(../img/porf#{$i}.jpg);
                    background-size: cover;
                    @if $i == 4{
                     width: 200px;
                     height: 200px; 
                    
                    }
                    @else if $i == 5{
                     
                      
                    }
                    @else if $i == 6{
                      
                      
                    }
                    @else if $i == 7{
                     
                      
                    }
                    @else if $i == 8{
                     
                      
                    }
                    @else if $i == 9{
                     
                      
                    }
                    @else if $i == 10{
                    
                      
                    }
                  }
                    
      
                }
      
      
              }  
      }
      }
      
      
      .card-group {
            margin: 0 auto;
            width: 72vw;
            height: 450px;
            gap: 2rem;
      }
      





}