$fuenteCuerpo :'Indie Flower', cursive;
$tamanioFuenteCuerpo: 1.2rem;
$tamanioTitulo:1.7rem;
$colorTextoAbout: var(--fire-opal);
$colorTituloAbout: var(--slate-blue);
$fuenteTamanioGrid:1.2rem;
$colorcajainput:rgb(203, 245, 120);






